<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Land Dez", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Tables
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu menu-right">
                    <li>@Html.ActionLink("Order", "Order", "Home")</li>
                    <li>@Html.ActionLink("Customer", "Customer", "Home")</li>
                    <li>@Html.ActionLink("Designer", "Designer", "Home")</li>
                    <li>@Html.ActionLink("Land", "Land", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
